/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
